@font-face {
    font-family: font1;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto+Slab:wght@300;500&display=swap');
}

body {
    font-size: 14px;
    color: #292929;
    overflow-x: hidden;
    line-height: 1.7;
    font-family: font1;
    padding: 0;
    margin: 0;
}