.awe-section-6 {
    margin-bottom: 0px;
    width: 100%;
    float: left;
}



.section_xuhuong {
    padding: 40px 0;
    position: relative;
    width: 100%;
    float: left;
    display: block;
}

.col-lg-12 {
    width: 100%;
    float: left;
}

.title_module_bbf h2 {
    font-family: font1;
    font-size: 34px;
    font-weight: 400;
    color: #292929;
    margin: 0 0 5px;
    padding: 0;
}

.title_module_bbf h2 a:hover {
    color: #94e3df;
    ;
}

.title_module_bbf {
    width: 100%;
    text-align: center;
}

.item_product_main {
    width: 25%;
    float: left;
}

.product_thumbnail {
    width: 100%;
    float: left;
    position: relative;
}

.sale_label {
    position: absolute;
    width: 40px;
    height: 50px;
    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 66px;
    font-size: 11px;
    color: #fff;
    text-align: center;
}

.item_product_main .product-thumbnail .image_thumb {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid #f8f8f8;
    height: 262px;
}

.item_product_main .product-thumbnail {
    width: 90%;
    float: left;
    position: relative;
}

.owl-carousel .item_product_main img {
    display: block;
    width: 260px;
    height: 260px;
}

.product-info {
    width: 100%;
    float: left;
    padding: 10px;
    text-align: center;
}

.item_product_main .product-info h3 {
    width: 100%;
    float: left;
    padding: 0;
    margin: 10px 0;
    font-family: font1;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-info .price-box {
    width: 100%;
    float: left;
    font-family: font1;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.product-info .price-box .product-price {
    color: #ef2c2c;
    margin-right: 10px;
    font-weight: 700;
}

.product-info .price-box .compare-price {
    color: #8d90a6;
    text-decoration: line-through;
    font-size: 16px;
}

.product-info form {
    width: 100%;
    float: left;
    margin-bottom: 0;
}

form .group_action {
    width: 100%;
    float: left;
}

form .button_add:hover {
    color: white;
    border-color: #94e3df;
    background-color: #94e3df;
    cursor: pointer;
}



form .button_add {
    line-height: 35px;
    padding: 0 25px;
    border: solid 2px #ef2c2c;
    border-radius: 35px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #ef2c2c;
    font-family: font1;
    font-weight: 700;
    text-transform: uppercase;
}