@font-face {
    font-family: font1;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto+Slab:wght@300;500&display=swap');
}

.awe-section-7 {
    margin-bottom: 0px;
    width: 100%;
    float: left;
    display: block;
}

.section_blog {
    padding: 40px 0;
}

.section_blog .col-lg-8 {
    width: 66%;
    margin-left: 16%;
}

.title_module_bbf {
    text-align: center;
}

.title_module_bbf h2 {
    font-family: font1;
    font-size: 34px;
    font-weight: 400;
    color: #292929;
    margin: 0 0 5px;
    padding: 0;
}

.destitle {
    display: inline-block;
    font-family: font1;
    font-size: 20px;
    color: #292929;
    font-weight: 400;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.section_blog .col-lg-12 {
    width: 100%;
    float: left;
}

.title_mm {
    font-family: font1;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
    display: block;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

p {
    margin: 0 0 15px 0;
}

.col-lg-12 .section {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.col-lg-12 .section .row {
    display: flex;
    flex-wrap: wrap;
}