.awe-section-8 {
    width: 100%;
    margin-bottom: 0px;
    float: left;
    margin-top: 150px;
}

.section_chinhsach {
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
}

.wrap_chinhsach {
    display: flex;
    flex-wrap: wrap;

}

.itemcs {
    width: 20%;
    font-size: 20px;
    padding: 50px 28px;
    text-align: center;
    border-right: 1px solid #ebebeb;
}

.itemcs .image_left {
    margin-bottom: 20px;
}

.itemcs .content_r p {
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: -2px;
    margin-bottom: 5px;
}

.itemcs .content_r span {
    font-size: 17px;
}